<div class="ipCost">
  <el-tabs v-model="activeName" @tab-click="handleClick">
    <el-tab-pane label="IP成本" name="first">
      <!-- IP成本 -->
      <el-row>
        <el-row class="table-title">
          <div class="title">
            IP成本
          </div>
          <div class="select ml-20">
            <el-select @change="proChange" size="mini" v-model="project" placeholder="请选择项目">
              <el-option
                v-for="item in allProject1"
                :key="item.project_id"
                :label="item.project_name"
                :value="item.project_id">
              </el-option>
            </el-select>
          </div>
          <div class="add ml-20" v-if="$store.getters.permission">
            <!-- <el-button size="small" icon="el-icon-plus" circle></el-button> -->
            <el-button size="mini" @click="addMember" round type="primary">新增</el-button>
          </div>
        </el-row>
        <el-row class="mt20">
          <el-col :span="24">
            <el-table
              :data="proInputData"
              border
              v-loading="loading1"
              height="619"
              style="width: 100%"
              :cell-style="cellStyle2"
              :header-cell-style="{textAlign: 'center'}">
              <el-table-column
                prop="ipContent"
                label="IP内容"
                width="166">
              </el-table-column>
              <el-table-column
                prop="costType"
                label="成本类型"
                width="180">
              </el-table-column>
              <el-table-column
                prop="project"
                label="所属项目"
                width="180">
                <!-- <template slot-scope="{row, column, $index}">
                </template> -->
              </el-table-column>
              <el-table-column
                prop="month"
                label="月份"
                width="280">
              </el-table-column>
              <el-table-column
                prop="costValue"
                label="成本值">
                <template slot-scope="scope">
                  {{scope.row.costValue | getThousandNum}}
                </template>
              </el-table-column>
              <el-table-column
                fixed="right"
                label="操作"
                width="100"
                v-if="$store.getters.permission">
                <template slot-scope="{row, column, $index}">
                  <div v-if="row.month !== '合计'">
                    <el-button @click="editData(row)" type="text" size="small">编辑</el-button>
                    <el-button type="text" @click="delData(row)" size="small" style="color: #F56C6C">删除</el-button>
                  </div>
                </template>
              </el-table-column>
            </el-table>
            <el-pagination
              :page-sizes="[10, 20, 50, 100]"
              layout="total, sizes, prev, pager, next"
              :page-size="pageSize"
              @size-change="handleSizeChange"
              :total="proTotal"
              :current-page.sync="proPage"
              style="text-align: center;"
              class="mt20"
              @current-change="handleCurrentChange">
            </el-pagination>
          </el-col>
        </el-row>
        <el-dialog title="添加成本" :visible.sync="dialogVisible" width="600px">
          <el-form size="small" v-loading="isLoading" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
            <el-form-item label="IP内容" prop="ipContent">
              <el-input v-model="ruleForm.ipContent" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="成本类型" prop="costType">
              <el-input v-model="ruleForm.costType" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="所属项目" prop="project">
              <el-select v-model="ruleForm.project" placeholder="请选择项目">
                <el-option
                  v-for="item in allProject2"
                  :key="item.project_id"
                  :label="item.project_name"
                  :value="item.project_id">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="月份" prop="month">
              <el-date-picker :picker-options="pickerOptions0" type="month" value-format="yyyy/MM" placeholder="选择月份" v-model="ruleForm.month" style="width: 100%;"></el-date-picker>
            </el-form-item>
            <el-form-item label="成本值" prop="costValue">
              <el-input v-model="ruleForm.costValue" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm')">立即提交</el-button>
              <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
        <el-dialog title="编辑成本" :visible.sync="dialogVisible2" width="600px">
          <el-form size="small" v-loading="isLoading" :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
            <el-form-item label="IP内容" prop="ipContent">
              <!-- <el-input v-model="ruleForm2.ipContent" auto-complete="off"></el-input> -->
              {{ruleForm2.ipContent}}
            </el-form-item>
            <el-form-item label="成本类型" prop="costType">
              <!-- <el-input v-model="ruleForm2.costType" auto-complete="off"></el-input> -->
              {{ruleForm2.costType}}
            </el-form-item>
            <el-form-item label="所属项目" prop="project">
              <!-- <el-select v-model="ruleForm2.project" placeholder="请选择项目">
                <el-option
                  v-for="item in allProject2"
                  :key="item.project_id"
                  :label="item.project_name"
                  :value="item.project_id">
                </el-option>
              </el-select> -->
              {{ruleForm2.project}}
            </el-form-item>
            <el-form-item label="月份" prop="month">

              <!-- <el-date-picker :picker-options="pickerOptions0" type="month" value-format="yyyy/MM" placeholder="选择月份" v-model="ruleForm2.month" style="width: 100%;"></el-date-picker> -->
              {{ruleForm2.month}}
            </el-form-item>
            <el-form-item label="成本值" prop="costValue">
              <el-input v-model="ruleForm2.costValue" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="submitForm('ruleForm2')">立即提交</el-button>
              <el-button @click="dialogVisible2 = false">取消</el-button>
            </el-form-item>
          </el-form>
        </el-dialog>
      </el-row>
    </el-tab-pane>

    <el-tab-pane label="成本数据" name="second">
      <!-- 成本数据 -->
      <el-row class="">
        <el-row style="line-height: 28px;">
          <el-col :span="24" class="table-title">
            <div class="title">
              成本数据
            </div>
            <div class="select ml-20">
              <el-select @change="proChange" size="mini" v-model="project1" placeholder="请选择项目">
                <el-option
                  v-for="item in allProject1"
                  :key="item.project_id"
                  :label="item.project_name"
                  :value="item.project_id">
                </el-option>
              </el-select>
            </div>
          </el-col>
        </el-row>
        <el-row class="mt20">
          <el-col :span="24">
            <el-table
              :data="historyCostData.record"
              border
              v-loading="loading2"
              height="529"
              style="width: 100%"
              :cell-style="cellStyle2"
              :header-cell-style="{textAlign: 'center'}">
              <el-table-column
                v-for="(item, index) in historyCostData.column"
                :fixed="index === 0 || index === 1 || index === 2"
                :key="item.key"
                :prop="item.key"
                :label="item.title"
                width="180">
                <template slot-scope="scope">
                  {{scope.row[item.key + ''] | getThousandNum}}
                </template>
              </el-table-column>
            </el-table>
            <el-pagination
              :page-sizes="[10, 20, 50, 100]"
              layout="total, sizes, prev, pager, next"
              :page-size="pageSize"
              @size-change="handleSizeChange"
              :total="hisTotal"
              :current-page.sync="hisPage"
              style="text-align: center;"
              class="mt20"
              @current-change="handleCurrentChange">
            </el-pagination>
          </el-col>
        </el-row>
      </el-row>
    </el-tab-pane>
  </el-tabs>
</div>
